<div class="demo-landing-page-container">
	<img src="assets/logoTest.png">
	<p>A daily link sharing app curated by the community</p>
	<button class="demo-landing-demo-user-button" ng-click='demoLogin()'>Click for Demo User</button>
	<a href="#/login">
		<button class="demo-landing-redirect-button-one" >Login</button>
	</a>
	<a href="#/signup">
		<button class="demo-landing-redirect-button-two" >Signup</button>
	</a>
	<a href="https://github.com/Eureka-Project/Eureka-Project">
		<i class="fa fa-github"></i>
	</a>
</div>
