<nav>
	<div class="search">
		<form name="searchForm" class="search-form" ng-submit='searchForm.$dirty && search( searchText )'>
			<i class="fa fa-search"></i>
			<input type="text" ng-model="searchText" placeholder="Search..."/>
		</form>
	</div>
	<a ng-href="#/home">
		<div class="title">Eureka!</div>
	</a>
	<div class="nav-actions">
		<div class="logout" ng-click="signout()">
			<p>{{username}}</p>
			<i class="fa fa-sign-out"></i>
		</div>
		<i ng-click="changeModal()" class="fa fa-plus-square fa-lg add-link-icon"></i>
	</div>
</nav>
<div class="modal-background" ng-click="changeModal()" ng-show="modalShow"></div>
<div class="add-link-modal" ng-show="modalShow">
	<div>
		<i ng-click="changeModal()" class="fa fa-times-circle fa-2x"></i>
		<h2>Gimme da link</h2>
		<form name="addLink" ng-submit='addLink.$valid && submitLink( newLink )' novalidate>
			<input type='url' name="urlText" placeholder="Paste URL..." ng-model="newLink"><br>
			<input type="submit" value="Submit Link">
		</form>
	</div>
</div>
<div class="page-container">
	<div class="results">
		<div ng-repeat="day in links">
			<h4 class="date-header">{{day.date}}</h4>
			<div class="link-card" ng-repeat="link in day.links | orderBy: '-upvotes'">
				<div class='voting'>
					{{link.upvotes}}<i class="fa fa-arrow-up"></i>
				</div>
				<div class="link-data">
					<!-- <a ng-href="{{link.url}}"> -->
						<h4>{{link.title}}</h4>
					<!-- </a> -->
					<!-- <p>{{link.source}}</p> -->
				</div>
			</div>
		</div>
	</div>
</div>