<nav>
	<div class="add-link"><button ng-click="changeModal()">Add Link</button></div>
	<div class="title">Eureka!</div>
	<div class="logout" ng-click="signout()">{{username}}<i class="fa fa-sign-out"></i></div>
</nav>
<div class="modal-background" ng-click="changeModal()" ng-show="modalShow"></div>
<div class="add-link-modal" ng-show="modalShow">
	<div>
		<i ng-click="changeModal()" class="fa fa-times-circle fa-2x"></i>
		<h2>Gimme da link</h2>
		<form name="addLink">
			<input type='url' name="urlText" placeholder="Paste URL..." ng-model="newLink"><br>
			<input type="submit" value="Submit Link" ng-click="">
		</form>
	</div>
</div>
<div class="page-container">
	<div class="results">
		<div class="link-card" ng-repeat="link in links | orderBy: '-upvotes'">
			<div class='voting'>
				{{link.upvotes}}<i class="fa fa-arrow-up"></i>
			</div>
			<div class="link-data">
				<a ng-href="{{link.url}}">
					<h4>{{link.title}}</h4>
				</a>
				<p>{{link.source}}</p>
			</div>
		</div>
	</div>
</div>