<nav>Eureka!</nav>
<div class="page-container">
	<div class="form-container">
		<h1>Log In</h1>
		<form name="loginForm" ng-submit='loginForm.$valid && login()' novalidate>
			<input type='text' ng-model='user.username' placeholder="Username" required ng-minlength="4"><br>
			<input type="password" ng-model='user.password' placeholder="Password" required ng-minlength="4"><br>
			<input type="submit" value = "Log In" />
		</form>
		<a href="#/signup">
			<button class="signup-login-button">Sign Up</button>
		</a>
	</div>	
</div>