<nav>
	<img src="logoTest.png" alt="logoTest" style="width:1086px;height:33px;">
</nav>
<div class="page-container">
<div class="signupError" ng-show="signupErr">Please try again. {{ signupTxt }}</div>
	<div class="form-container">
		<h1>Sign Up</h1>
		<form name="signupForm" ng-submit='signupForm.$valid && signup()' novalidate>
			<input type='text' ng-model='user.firstname' placeholder="First Name" required ng-minlength="3"><br>
			<input type='text' ng-model='user.lastname' placeholder="Last Name" required ng-minlength="3"><br>
			<input type='text' ng-model='user.username' placeholder="Username" required ng-minlength="4"><br>
			<input type="password" ng-model='user.password' placeholder="Password" required ng-minlength="4"><br>
			<input type="submit" value = "Sign Up" />
		</form>
		<a href="#/login">
			<button class="signup-login-button">Log In</button>
		</a>
	</div>
</div>