body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f9f9;
}

nav {
	width: 100%;
	height: 35px;
	padding: 5px 0px 10px;
	font-size: 24px;
	font-weight: 700;
	background-color: #f1f1f1;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

nav .title {
	width: 60%;
	float: left;
	margin-top: 3px;
}

nav .search {
	width: 20%;
	float: left;
	text-align:left;
}

nav .search i {
	width: 10%;
	float:left;
}

nav .search input {
	padding: 8px 4%;
	font-size: 16px;
	line-height: 19px;
	width: 70%;
	float:left;
	border-radius: 3px;
	border: none;
	margin: 0px;
}

nav .search-form {
	background-color: #fff;
	height: 35px;
	margin: 3px 0px 0px 20px;
	border-radius: 5px;
	padding: 0px 8px;
}

nav .nav-actions {
	width: 20%;
	float: left;
	padding-top: 9px;
	cursor: pointer;
}

nav .logout:hover {
	color: #999999;
}

nav .nav-actions p {
	font-size: 14px;
	float: left;
	margin: 2px 4px;
}

nav .nav-actions i {
	float: right;
	margin-top: 0px;
	margin-right: 20px;
}


.add-link-icon {
	color: #679df6;
	padding-left: 10px;
}

.add-link-icon:hover {
	color: #3b77db;
}

.fa {
	margin: 5px;
}

.page-container {
	width: 80%;
	margin: 0px auto;
	padding-top: 20px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}

form {
	margin: 0px auto;
}

form input {
	font-size: 16px;
	padding: 8px 14px;
	margin: 8px;
	width: 260px;
}

input:focus {
	outline: none; 
}

form input[type="submit"] {
	background-color: #679df6;
	color: #fff;
	font-size: 16px;
	padding: 8px;
	margin: 8px;
	width: 290px;
	border: none;
}

form input[type="submit"]:hover {
	background-color: #3b77db;
}

button {
	background-color: #cecece;
	color: #fff;
	font-size: 16px;
	padding: 8px;
	margin: 8px;
	width: 290px;
	border: none;
}

button:hover {
	background-color: #a0a0a0;
}

input.ng-invalid {
    border: 1px solid #cc0000;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

input.ng-valid {
  border: 1px solid #41cb0c;
}

input.ng-pristine {
    border: 1px solid #d6d6d6;
    box-shadow: none;
}

.results {
	height: 1000px;
}

.link-card {
	text-align: left;
	padding: 1% 5%;
	height: 80px;
}

.voting {
	width: 8%;
	height: 100%;
	font-size: 20px;
	float: left;
	cursor: pointer;
}

.voting:hover {
	color: #999999;
}

.voting h3 {
	float:left;
	margin: 23px 0px 0px 0px;
}

.voting i {
	float: left;
	margin: 30px 0px 0px 10px;	
}

.link-data {
	margin-left: 70px;
	border-radius: 5px;
	height: 100%;
}

.link-data:hover {
	background-color: #f1f1f1;
}

.link-data h4, p {
	margin: 5px 0px;
}

.add-link-modal {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.add-link-modal div {
	width: 50%;
	height: 180px;
	margin: 60px auto;	
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	text-align: center;
}

.add-link-modal div i {
	float: right;
	cursor: pointer;
}

.add-link-modal h2 {
	margin: 25px auto 5px;
	width: 300px;
}

.add-link-modal input {
	padding: 8px 14px;
	width: 260px;
	font-size: 16px;
}

.modal-background {
	position: fixed;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #000;
	opacity: 0.6;
}

.form-container {
	background-color: #fff;
	width: 500px;
	margin: 42px auto;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.signup-login-button {
	margin-bottom: 40px;
}

.date-header {
	font-weight: 300;
	margin: 0px;
	padding: 5px 0px;
	border-bottom: 1px solid #e5e5e5
}

.search-field input{
	font-size: 26px;
	line-height: 32px;
	background-color: transparent;
	padding: 10px;
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
}

.no-search-results {
	margin: 40px 10px;
	text-align: left;
}

.logout {
	float:right;
}

.link-description {
	font-size: 12px;
	margin-left: 80px;
	padding-top: 3px;
}

.link-description p {
	margin: 5px 0px;
}

.link-image {
	position: relative;
	height: 60px;
	width: 60px;
	overflow: hidden;
	border-radius: 5px;
	float: left;
	margin: 10px 15px 0px 5px;
}

.link-image img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.loginError, .signupError {
  color: #fff;
  background-color: #d26c6c;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}
